<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
 <script>
    (function bgChange() {
        var bgColorArr = ['carbon-fibre', 'starry-night', 'rainbow', 'carbon', 'argyle', 'upholstery', 'steps', 'japanese', 'madras', 'shippo', 'seigaiha'],
            num = Math.floor(Math.random() * bgColorArr.length);
        document.querySelector('body').className = bgColorArr[num];
        setTimeout(bgChange, 3000);
    }())
    </script>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
